/*styles the grid*/
.grid {
    height: 400px;
    /*10x10 grid 40px height and width*/
    width: 400px;
    display: flex;
    /*the square display inline not stacked over each other*/
    flex-wrap: wrap;
    /*wrap over each otehr so they fit in the grid*/
    background-color: grey;
    border-style: solid;
    border-radius: 10%;
    border-color: green;
    border-width: 20px;
    box-shadow: 10px 10px;

}

body {
    background-color: bisque;
}

/*style all divs inside of the grid*/
.grid div {
    height: 40px;
    width: 40px;
}

.bomb {
    background-color: orange;
}

.checked {
    background-color: red;
}