/*styles the grid*/
.grid {
    height: 440px;
    /*10x10 grid 40px height and width*/
    width: 440px;
    display: flex;
    /*the square display inline not stacked over each other*/
    flex-wrap: wrap;
    /*wrap over each otehr so they fit in the grid*/
    background-color: grey;
    border-style: solid;
    border-radius: 10%;
    border-color: green;
    border-width: 20px;
    box-shadow: 10px 10px;
}


body {
    background-color: bisque;
    text-align: center;
}

/*style all divs inside of the grid*/
.grid div {
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-color: black;
    box-sizing: border-box;
    border-radius: 10%;

}

.checked {
    background-color: red;
    border: 2px solid;
    border-color: black;
    box-sizing: border-box;
}